@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- for home page i type a text about movie website to explain each and every thing, which help to understad the website.  -->
    <h1 class="display-4">Welcome to Movie Origination System</h1>
    <p style="text-align:justify">  Thanku to visit on my vwebsite.I am going to create website about movie origniation which will help you understand the every keyword of origination deatials. <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="text-align:justify">
        "Movie" which called film that plays an important role in human life. It is art-form used to arouse that connect stories, perceptions, ideas, feelings, beauty and atmosphere through the utilize of moving pictures.
        with the help of movies people learn so many things about there life and they get stronger while it is also a part of life. Also these images are genenerly attended
        by sound. And the main thing is that film is overview of human life.
    </p>

    <!-- to fix image class because i want to make page more beautiful -->
    <img src="1.jpg" class="mx-auto d-block">
    <p style="text-align:justify">
        Moreover, the recording of motion picture that tell the story and that folk see in the cinema, on screen and television. In the past mostly peolpe enjoy with family at home and share every moment while wathcing movie.
        The earliest films were simply one static in shot and it revealed in black and white as world started developing there are many changes came and coming.
        The art of movie has evoked on several earlier traditions in catalogs such as oral storytelling, literature, theatre and visual arts.
    </p>
    <!--  for home page i type a text about movie website to explain each and every thing, which help to understad the website.-->
    <p style="text-align:justify">
        "The Cinema" is to offer a relatively cheap and simple way of providing entertainment to the masses.
        They also feel relax when people watch movie with friend and family after long time of work.
    </p>

    <!-- to fix image class because i want to make page more beautiful  -->
    <img src="4.png" class="mx-auto d-block">

    <p style="text-align:justify">
        Here we called about history of movies how it develops. In the stage, the film producer select story which may come from newspaper, books,play, true story, video game
        novels and original ideas from human life that make story intesting. Furthermore choosing the scence or theme, the creater work with writer to prepare film story.
        In this way they do different stages for making movie.
    </p>


</div>


